#house{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
}

#woman{
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
    background-color: gray;
}

#alat{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background-color: white;
}

#logo{
    height: 70px;
    right: 20%;
    top: 10%;
    position: absolute;
}

#pics{
    height: 600px;
    position: absolute;
    top: 10%;
    bottom: 0%;
}

#movepara{
    position: absolute;
    top: 65%;
    right: 20%;
    font-size: 16px;
    font-weight: lighter;
}

#all{
    font-size: 16px;
    position: absolute;
    top: 83%;
    right: 35%;
    font-weight: lighter;
}

#moveform{
    position: absolute;
    top: 30%;
    right: 50%;
}

.btn{
    width: 200%;
    padding: 8px;
    border-radius: 0;
    color: white;
    background-color: brown;
    border: 0;
    font-weight: bold;
    

}

#love{
    padding: 8px;
    width: 200%;
    border: 0;
    background-color: rgb(206, 238, 252);
}

.user{
    font-size: 13px;
    font-weight: lighter;
    color: brown;
    right: 69%;
    top: 24%;
    position: absolute;
}

.pass{
    font-size: 13px;
    font-weight: lighter;
    position: absolute;
    color: brown;
    right: 69%;
    top: 37%;
}

.forgot{
    font-size: 13px;
    font-weight: lighter;
    position: absolute;
    color: brown;
    right: 63%;
    top: 49%;
}

body{
    font-family: calibri;
}